{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Bem-vindo ao Projeto de Desenvolvimento de APIs e Microsserviços</h1>
    
    <p>Este projeto é desenvolvido para a disciplina de Desenvolvimento de APIs e Microsserviços, sob orientação do professor Caio. A aplicação é um sistema de gerenciamento completo (CRUD) de alunos, professores e turmas, com o armazenamento de dados em um banco de dados SQLite.</p>
    
    <h2>Descrição do Projeto</h2>
    <p>A API RESTful que compõe o projeto permite realizar todas as operações essenciais de um CRUD:</p>
    <ul>
        <li><strong>Criação:</strong> Adicione novos registros para alunos, professores e turmas.</li>
        <li><strong>Leitura:</strong> Consulte detalhes específicos ou listas de alunos, professores e turmas.</li>
        <li><strong>Atualização:</strong> Edite informações de registros existentes.</li>
        <li><strong>Exclusão:</strong> Remova registros de forma segura e eficaz.</li>
    </ul>
    <p>O <strong>banco de dados SQLite</strong> garante um armazenamento leve e de fácil integração, adequado para explorar a prática de manipulação de dados em ambientes de desenvolvimento.</p>

    <h2>Sobre o Site</h2>
    <p>Este site é uma interface amigável que facilita o uso e teste das funcionalidades da API. Além disso, oferece documentação para guiar o uso das rotas e orientá-lo nas operações de cada recurso disponível.</p>
    
    <p>Explore o menu de navegação no topo para conhecer cada rota e acesse a aba de documentação para um guia detalhado sobre como realizar chamadas para a API e utilizar cada funcionalidade.</p>
</div>
{% endblock %}
